#ide {
    display: flex;
    height: 100vh;
}

#ide section {
    display: flex;
    flex-direction: column;
}

#ide section:first-child {
    width: 30%;
    font-family: 'Jost', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    overflow-y: auto;
}
#ide section:first-child > ul { padding: 0; margin: 0; list-style-type: none; }
#ide section:first-child .enonce { 
    padding: 1vh 2vw;
    margin-bottom: 3vh; 
    display: flex; 
    flex-direction: column; 
}
#ide section:first-child .enonce span:last-of-type {margin-top: 2vh;}
#ide section:first-child .enonce:first {
    border-bottom: 1px solid black;
}

#ide code:not(.editor) {
    padding: 3px 5px;
    background-color: rgba(117, 117, 117, 0.2);
    border-radius: 5px;
    font-size: 15px;
}

#ide .asserts {
    list-style-type: none;
    font-family: 'Inconsolata', monospace;
    padding: 0 20px;
}


#ide section:first-child h1 { 
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}

#ide .editor {
    outline: none;
    border-radius: 5px;
    padding: 1pc 1pc;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 2pc solid rgba(0, 0, 0, 0.1);
    max-width: 580px;
    min-width: 580px;
    
    max-height: 225px;
    height: fit-content;
    min-height: 100px;
}