main.login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/background.svg);
    overflow: hidden;
    height: 100vh;
}

#loginContainer *:disabled { cursor: not-allowed; }
#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5pc 0px;
    height: 100%;

    font-family: 'Jost', sans-serif;
    color: white;

    animation: coming 1.5s ease;
}

#loginContainer h1 {
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    margin-bottom: 15px;
    font-style: italic;
}

#loginContainer .svg-inline--fa { 
    margin-right: 5px; 
    width: 20px;
    animation: fadein 1.5s ease;
}

#loginContainer span { 
    opacity: .5;
    font-size: 20px;
    margin-bottom: 50px;
}

#loginContainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 25%;
}

#loginContainer button {
    width: 100%;
    margin-bottom: 2vh;
}
#loginContainer button.disc { background-color: #5865F2; }
#loginContainer button.inst { background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  }
#loginContainer button.goog { background-color: #f4f8ff; color: #333; }
#loginContainer button.gith { background-color: #3b3b3b; }


@media screen and (max-width: 1200px) {
    #loginContainer span { display: none; }
    #loginContainer ul {
        width: 55%;
    }

    .waves {
        width: 500%;
    }
}