#navbar {
    display: flex;
    background-color: var(--main-dark);
    flex-direction: row;
    align-items: center;
    padding: 0 3vw;
    justify-content: space-between;
    height: 100px;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
#navbar ul * { font-family: 'Jost', sans-serif; }

#navbar li {
    display: flex;
    align-items: center;
    animation: fadein 1.5s ease;
}

#navbar img {
    width: 20%;
    cursor: pointer;
}


#navbar ul.userContent li { animation: fadein 2.5s ease; }
#navbar ul.userContent li:first-child {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 2vw;

    color: white;
    font-size: larger;
}
#navbar ul.userContent li:first-child span {
    margin-right: 1pc;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
}

#navbar ul.userContent img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid var(--main-purple)
}

#navbar ul.userContent ul#dropdown {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: fixed;
    background-color: white;
    width: 15pc;
    height: fit-content;
    top: 105px;
    border-radius: 5px;
    z-index: 51;
    animation: fadein .1s ease;
}

#navbar ul.userContent ul#dropdown li {
    font-size: 20px;
    color: #333 !important;
    width: 100%; 
    margin: 0;
    justify-content: center !important;
    padding: 10px 0;
    cursor: pointer;
    transition: color .1s ease, background-color .1s ease;
    animation: fadein .1s ease;
}
#navbar ul.userContent ul#dropdown li:first-child { border-top-left-radius: 5px; border-top-right-radius: 5px; }
#navbar ul.userContent ul#dropdown li:last-child { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

#navbar ul.userContent ul#dropdown li.hoverRed:hover { background-color: var(--main-red); }
#navbar ul.userContent ul#dropdown li:hover {
    background-color: var(--main-purple);
    color: white !important;
}